---
import Layout from "../layouts/Layout.astro"
import Icon from "../components/Icon.astro"
import ProxyView from "../components/ProxyView.astro"

import { Search, Home } from "lucide"

declare global {
  interface Window {
    chemical: any
  }
}
---

<Layout title="hadron">
  <div class="h-screen">
    <div class="flex items-center justify-center gap-2 p-4 bg-zinc-950">
    <button id="home" class="p-2 rounded-md bg-zinc-800 border border-zinc-600">
      <Icon icon={Home} />
    </button>
    <input id="url" type="text" class="p-2 rounded-md bg-zinc-800 border border-zinc-600" placeholder="search or enter a url" />
      <button id="search" class="p-2 rounded-md bg-zinc-800 border border-zinc-600">
        <Icon icon={Search} />
      </button>
    </div>

    <div class="h-[90.5%]">
      <ProxyView />
    </div>
  </div>
</Layout>

<script>
  const search = document.querySelector("#search")
  const home = document.querySelector("#home")
  const input = document.querySelector("#url") as HTMLInputElement
  const submit = async() => {
    const url = input.value
    ;(document.querySelector("#view") as HTMLIFrameElement).src = await window.chemical.encode(url, {
      service: "uv",
      autoHttps: true,
      searchEngine: "https://google.com/search?q=%s"
    })
  }
  search?.addEventListener("click", async () => {
    await submit()
  })
  input?.addEventListener("keydown", async (e) => {
    if (e.key === "Enter") {
      await submit()
    }
  })
  home?.addEventListener("click", () => {
    (document.querySelector("#view") as HTMLIFrameElement).src = "/home"
  })
</script>
