---
interface Props {
	title: string;
}
declare global {
  interface Window {
    chemical: any;
  }
}

const { title } = Astro.props;
---

<!doctype html>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script is:inline src="/chemical.js"></script>
		<title>{title}</title>
	</head>

	<body class="bg-zinc-900 text-zinc-50">
		<slot />
	</body>

	<script>
  	window.addEventListener("chemicalLoaded", async (e) => {
     await window.chemical.setWisp(`${location.protocol.replace('http', 'ws')}//${location.host}/f/`)
      await window.chemical.setTransport("epoxy")
    })

	</script>
</html>
